* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
}

body {
  background-color: #f4f7fa;
  padding: 3rem 8%;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.profile {
  background-color: #fff;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.profile .upper {
  padding: 1.8rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .upper .profile-top-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.profile .upper .profile-top-1 .availability {
  font-size: 0.9rem;
  font-weight: 500;
  background-color: #11df71;
  color: #fff;
  padding: 0.35rem 0.9rem;
  border-radius: 2rem;
}
.profile .upper .profile-top-1 .no-availability {
  opacity: 0;
  pointer-events: none;
}
.profile .upper .profile-top-1 .price {
  font-size: 1.5rem;
  opacity: 0.8;
}
.profile .upper .profile-img {
  width: 10rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile .upper .profile-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}
.profile .upper .profile-details {
  margin-top: 2rem;
  text-align: center;
}
.profile .upper .profile-details .full-name {
  font-size: 1.6rem;
  font-weight: 500;
  opacity: 0.8;
}
.profile .upper .profile-details .title {
  margin-block: 0.5rem 0.9rem;
  opacity: 0.6;
}
.profile .upper .profile-details .company {
  color: #1ab1ed;
  opacity: 0.8;
}
.profile .upper .profile-details .company i {
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 1;
}
.profile .upper .profile-details .freelancer {
  color: #11df71;
}
.profile .upper .profile-details .tags {
  list-style-type: none;
  margin-top: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  flex-wrap: wrap;
}
.profile .upper .profile-details .tags li {
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.6;
  border: 1px solid rgba(0, 0, 0, 0.337254902);
  padding: 0.4rem 1rem;
  border-radius: 2rem;
}
.profile .upper .profile-details .tags li:nth-child(4) {
  opacity: 1;
  color: #fff;
  background-color: #1ab1ed;
  border-color: #1ab1ed;
  box-shadow: 2px 2px 8px rgba(26, 177, 237, 0.8117647059);
}
.profile .upper .profile-details .bio {
  opacity: 0.5;
  margin-block: 2rem;
  font-size: 0.9;
  line-height: 1.65;
  font-weight: 500;
  min-height: 3.5rem;
}
.profile .upper .profile-details .line-break {
  width: 5rem;
  height: 1px;
  background-color: #333;
  opacity: 0.4;
  box-shadow: 0px 3px 5px 1px rgba(51, 51, 51, 0.0784313725);
  margin: auto;
  transition: 0.2s;
}
.profile .view-profile-btn {
  cursor: pointer;
  width: 100%;
  font-size: 1.07rem;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.768627451);
  background-color: #fff;
  padding: 1.5rem 0;
  border: none;
  position: relative;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow-y: hidden;
  z-index: 9;
  transition: 0.3s;
}
.profile .view-profile-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #1ab1ed;
  z-index: -1;
  transition: inherit;
}

.profile:hover {
  transform: translateY(-0.6rem);
  box-shadow: rgba(17, 12, 46, 0.1490196078) 0px 48px 100px 0px;
}
.profile:hover .line-break {
  opacity: 0 !important;
}
.profile:hover .view-profile-btn {
  color: #fff;
}
.profile:hover .view-profile-btn::after {
  height: 100%;
}/*# sourceMappingURL=style.css.map */