* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    color: #DAC5A7;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0E0E0E;
}

.hero-section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
        width: clamp(16rem, 60%, 26rem);
        margin-top: 2.5rem;
    }

    h1 {
        font-size: 3.6rem;
        font-weight: 300;
        line-height: 1;

        span {
            font-family: "Noto Serif", serif;
            font-style: italic;
            font-weight: 300;
        }
    }

    p {
        font-size: 1.1rem;
        font-weight: 300;
        line-height: 1.6;
        opacity: 0.7;
        padding: 0 0.7rem;
        margin-top: 1.1rem;

        br {
            display: none;
        }
    }
}